body {
    background-color: #1a202c;
    color: white;
}

h1{
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#carosello {
    width: 700px;
    height: 350px;
    border: 2px solid white;
    object-fit: cover;
    overflow: hidden;
}

#carosello>img {
    width: 100%;
    display: none;
}

#carosello>img.active {
    display: flex;
}